<div class="examples">
  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="checkbox-group">
        <small class="label">Conditions</small>
        <mat-checkbox>Abdominal aortic aneurysm</mat-checkbox>
        <mat-checkbox>Achillies tendinopathy</mat-checkbox>
        <mat-checkbox>Acne</mat-checkbox>
        <mat-checkbox>Acute cholecystitis</mat-checkbox>
        <mat-checkbox>Acute lymphoblastic leukaemia</mat-checkbox>
        <mat-checkbox>Acute lymphoblastic leukaemia: Children</mat-checkbox>
        <mat-checkbox>Acute lymphoblastic leukaemia: Teenagers and young adults</mat-checkbox>
        <mat-checkbox>Acute myeloid leukaemia</mat-checkbox>
        <mat-checkbox>Acute myeloid leukaemia: Children</mat-checkbox>
        <mat-checkbox>Acute myeloid leukaemia: Teenagers and young adults</mat-checkbox>
        <mat-checkbox>Acute pancreatitis</mat-checkbox>
        <mat-checkbox>Addison's disease</mat-checkbox>
        <mat-checkbox>Adenomyosis</mat-checkbox>
        <mat-checkbox>Alcohol-related liver disease</mat-checkbox>
        <mat-checkbox>Allergic rhinitis</mat-checkbox>
        <mat-checkbox>Allergies</mat-checkbox>
        <mat-checkbox>Alzheimer's disease</mat-checkbox>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Conditions</mat-label>
        <mat-select multiple>
          <mat-option value="1">Abdominal aortic aneurysm</mat-option>
          <mat-option value="2">Achillies tendinopathy</mat-option>
          <mat-option value="3">Acne</mat-option>
          <mat-option value="4">Acute cholecystitis</mat-option>
          <mat-option value="5">Acute lymphoblastic leukaemia</mat-option>
          <mat-option value="6">Acute lymphoblastic leukaemia: Children</mat-option>
          <mat-option value="7">Acute lymphoblastic leukaemia: Teenagers and young adults</mat-option>
          <mat-option value="8">Acute myeloid leukaemia</mat-option>
          <mat-option value="9">Acute myeloid leukaemia: Children</mat-option>
          <mat-option value="10">Acute myeloid leukaemia: Teenagers and young adults</mat-option>
          <mat-option value="11">Acute pancreatitis</mat-option>
          <mat-option value="12">Addison's disease</mat-option>
          <mat-option value="13">Adenomyosis</mat-option>
          <mat-option value="14">Alcohol-related liver disease</mat-option>
          <mat-option value="15">Allergic rhinitis</mat-option>
          <mat-option value="16">Allergies</mat-option>
          <mat-option value="17">Alzheimer's disease</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
